/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 20px;
    margin-left: 5%;
    margin-right: 5%;
    background-size: 100%;
    background-position: top;
    margin-bottom: 50px;
}

.buttonLinks {
    padding-right: 20px;
    margin-top: 40px;
}
.buttonLinks button {
    color: black;
    padding: 1em;
}

.rightImage img {
    position: absolute;
    right: 100px;
    top: 100px;
    width: 400px;
    height: 300px;
}

.quoteTable {
    background-color: rgba(255, 255, 255, 0.50);
}
/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

#deskDimensionImg {
    width: 350px;
    height: 350px;
    position: absolute;
    top: 130px;
    right: 15%;
}
.form-group {
    margin-left: 15px;
}

.row {
    width: 100%;
}

