@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


    <article class="buttonLinks">
        <button onclick="window.location.href='/Quotes/Create'">Add a New Quote</button>
        <br />
        <br />
        <button onclick="window.location.href='/Quotes'">View Quotes</button>

    </article>
    